
body {
    background-color: grey;
    font-family: 'Edu SA Beginner', cursive;
    margin: 100px;
    color: rgb(31, 31, 31);
    
}

.fotocv {
    text-align: center;
}

.fotito {
    text-align: center;
    border-radius: 70%;
}

header {
    text-align: center;
    font-size: xx-large;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    font-size: medium;
    text-align: justify, left ;
    margin: 2mm;
    font-weight: bold;
}

li {
    font-size: medium;
    text-align: justify, left ;
    margin: 2mm;
    font-weight: bold;
}

h6 {
    font-size: medium;
    text-align: justify;
    text-align: center;
    margin: 10mm;
    
}