
body {
    background-color: grey;
    font-family: 'Times New Roman', Times, serif;
    margin: 100px;
    color: rgb(31, 31, 31);
    
}

.alinearcentro {
    text-align: center;
}

header {
    text-align: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-size: medium;
    text-align: justify, left ;
    margin: 2mm;
}

li {
    font-size: medium;
    text-align: justify, left ;
    margin: 2mm;
}

h6 {
    font-size: medium;
    text-align: justify;
    text-align: center;
    margin: 10mm;
}